body {
    margin:15px 10px 0px 10px;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(to right,#c7a3a31f, #243b55)
  }
  
    /* transform: translate(-50%, -50%); */
    
  .about{
    color: #fff;
  
  }
  .mail
  {
    color: #ef8b18;
    text-decoration: none;
  }
 
    
  
  
  
  
  
  
 
  
  
  